[Desktop Entry]
Type=Application
Name=Term_geo
Icon=/home/bc/.local/share/applications/term.png
Exec=env skip_profile=skip gnome-terminal --tab
Terminal=false
Categories=Development;
