[Desktop Entry]
Type=Application
Name=Term_geo
Icon=/home/bc/.local/share/applications/term.png
Exec=env resizeterm=1 /usr/bin/gnome-terminal --geometry 110x30+0+0
Terminal=false
Categories=Development;
