[Desktop Entry]
Type=Application
Name=Term_geo
Icon=/home/bc/.local/share/applications/term.png
Exec=env skip_profile=x /usr/bin/gnome-terminal --tab
Terminal=false
Categories=Development;
